// VARIABLES //

$bg-dark: black;
$text-color: white;
$cell-color: rgb(243, 104, 35);
$cell-route: blue;
$cell-light: white;
$cell-allowed: chartreuse;
$border-color: rgba(
  $color: white,
  $alpha: 0.3,
);

// GLOBAL //

*,
*::after,
*::before {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  width: 100vw;
  background-color: $bg-dark;
  color: $text-color;
}

p,
h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  li {
    cursor: pointer;
  }
}

button {
  color: white;
  background-color: $cell-color;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
}

.bg-container {
  z-index: -1;
  position: fixed;
  top: 0;
  left: 0;

  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, transparent -50%, $bg-dark 100%);
  }
}

.container {
  padding: 1rem;
  max-width: 1180px;
}

.page {
  &:not(.active) {
    display: none;
  }
}

// HEADER //

header {
  background-image: linear-gradient(to bottom, black -50%, transparent 100%);
  position: fixed;
  width: 100%;
  top: 0;

  ul {
    margin: 0;
    padding: 1rem;
  }

  li {
    padding: 1rem 0;
    list-style: none;
  }

  a {
    text-shadow: 1px 1px 3px black;
    text-decoration: none;
    color: white;
    font-size: large;
    padding: 1rem;
  }
}

// SPLASH //

.splash {
  h1 {
    font-size: min(10vw, 100px);
    font-weight: 300;
    letter-spacing: 1rem;
  }

  p {
    opacity: 0.8;
    font-size: 30px;
    font-weight: 300;
    letter-spacing: 0.5rem;
  }
}

@keyframes slidein-1 {
  0% {
    right: -200vw;
    opacity: 0;
  }

  75% {
    right: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slidein-2 {
  0% {
    left: -200vw;
    opacity: 0;
  }

  75% {
    left: 0;
  }

  100% {
    opacity: 1;
  }
}

// JOURNEY //

.journey {
  animation: slidein-1 2s;

  .super {
    z-index: 1;
    bottom: 10%;
    left: 35%;
  }
}

// BOREDOM //

.boredom {
  animation: slidein-2 3s;

  .super {
    z-index: 1;
    top: 15%;
    left: 5%;
  }
}

// MATRIX //

.buttons {
  button {
    background-color: rgba($color: $cell-color, $alpha: 0.1);
    border: 2px solid $cell-color;

    &.active {
      background-color: rgba($color: $cell-color, $alpha: 1);
      border: 2px solid $cell-color;
    }
  }
}

.matrix {
  display: grid;
  margin: 2rem auto;
  justify-content: center;
  max-width: 700px;
  width: 100%;
  backdrop-filter: blur(15px) brightness(0.5);
  border: 2px solid $border-color;
  border-radius: 10px;
}

.cell {
  width: 100%;
  border: 1px outset $border-color;
  aspect-ratio: 1/1;
  cursor: pointer;
  //transition: background-color 0.2s;

  &:hover {
    background-color: rgba($color: white, $alpha: 0.2);
  }

  &:not(.allowed, .selected) {
    pointer-events: none;
    cursor: default;
  }

  &.allowed {
    background-color: rgba($color: $cell-allowed, $alpha: 0.1);

    &:hover {
      background-color: rgba($color: $cell-allowed, $alpha: 0.2);
    }
  }

  &.selected {
    background-color: rgba($color: $cell-color, $alpha: 0.4);

    &:hover {
      background-color: rgba($color: $cell-color, $alpha: 0.5);
    }
  }

  &.first {
    pointer-events: none;
    background-color: rgba($color: $cell-color, $alpha: 0.8);
  }

  &.last {
    background-color: rgba($color: $cell-allowed, $alpha: 0.6);

    &:hover {
      background-color: rgba($color: $cell-allowed, $alpha: 0.7);
    }
  }

  &.route {
    background-color: rgba($color: $cell-route, $alpha: 0.6);
  }

  &.error {
    @keyframes error {
      0% {
        transform: rotate(0deg);
      }

      25% {
        transform: rotate(-8deg);
      }

      50% {
        transform: rotate(0deg);
      }

      75% {
        transform: rotate(8deg);
      }

      100% {
        transform: rotate(0deg);
      }
    }
    background-color: rgba($color: $cell-color, $alpha: 0.7);
    animation: 0.25s infinite error;
  }
}

// MODAL //

@keyframes modal-in {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.modal {
  color: black;
  padding: 1.5rem;
  min-width: 350px;
  min-height: 200px;
  width: 40%;
  height: 20%;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: darken(white, 10%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  border-radius: 10px;

  animation: modal-in 0.5s;

  &.active {
    display: flex !important;
  }
}
